*{
    box-sizing: border-box;
}

/*body{
    background-color: #efedd6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    height: 100vh;
    margin: 0; 

}*/
body {
    min-height: 400px;
    height: 100vh;
    position: relative;
    background-color: #222;
  }

.color{
    font-size: 3.5rem;
    color: transparent;
    background: conic-gradient(
        #f72f35 12%,
        #30c5ff 12%, #30c5ff 35%,
        #ffd700 35%, #ffd700 55%,
        #ff69b4 55%, #ff69b4 70%,
        #d1e231 70%, #d1e231 90%,
        #d09ee1
    );
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text;
}
div {
    position: absolute;
    left: 26%;
    top: 30%;
  }
  div::before,
  div::after {
    display: block;
    content: '';
    position: absolute;
  }
  @media (max-width: 400px) {
    div:not(.no-scale) {
      transform: scale(0.8);
    }
  }
  #haunted {
    width: 200px;
    height: 200px;
  }
  #haunted::before,
  #haunted::after {
    width: 80px;
    height: 40px;
    left: 50%;
    margin-left: -40px;
    -webkit-animation: haunted-spin 4s linear infinite;
            animation: haunted-spin 4s linear infinite;
  }
  #haunted::before {
    top: -52px;
    background: no-repeat radial-gradient(black 50%, rgba(0,0,0,0) 52%) 20% 70%/0.6em 0.6em, no-repeat radial-gradient(black 50%, rgba(0,0,0,0) 52%) 20% 30%/0.6em 0.6em, no-repeat radial-gradient(black 50%, rgba(0,0,0,0) 52%) 35% 50%/1em 1em, no-repeat linear-gradient(white, white) 0 50%/92% 100%, repeat-y radial-gradient(circle at 0 50%, white 38%, rgba(255,255,255,0) 39%) 113% 0/1em 33.333%;
    border-radius: 2em 0 0 2em;
    transform-origin: 50% 9.5em;
  }
  #haunted::after {
    bottom: 0;
    bottom: -52px;
    background: no-repeat radial-gradient(black 50%, rgba(0,0,0,0) 52%) 80% 70%/0.6em 0.6em, no-repeat radial-gradient(black 50%, rgba(0,0,0,0) 52%) 80% 30%/0.6em 0.6em, no-repeat radial-gradient(black 50%, rgba(0,0,0,0) 52%) 65% 50%/1em 1em, no-repeat linear-gradient(white, white) 100% 50%/92% 100%, repeat-y radial-gradient(circle at 100% 50%, white 38%, rgba(255,255,255,0) 39%) -13% 0/1em 33.333%;
    border-radius: 0 2em 2em 0;
    transform-origin: 50% -7em;
  }
  @-webkit-keyframes haunted-spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-180deg);
    }
  }
  @keyframes haunted-spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-180deg);
    }
  }
